main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main img{
    width: 70%;
}
.text {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
.text h1 {
    width: 80%;
    font-weight: bold;
    font-size: 30px;
}
.text p {
    width: 80%;
}